header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
nav {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  text-decoration: none;
  color: #000000;
}
.navText {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 5px 0;
}
.fa-solid {
  width: 40px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 5px 50px;
}
.fa-regular {
  width: 40px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 5px 0;
}